.articles{
    background-color: $VeryLightGray;
    padding-top: 5rem;
    @include breakpoint-up(medium){
        padding-top: 0;
    }
    
    .container{
        padding-bottom: 5rem;
        @include breakpoint-up(medium){
            text-align: left;
            padding-right: 0;
        }
        @media(min-width:500px) and (max-width: 615px){
            text-align: center;
            padding-right: 3.75rem;
        }
    }
    padding-top: 5rem;
    h2{
        padding-bottom: 2.1875rem;
    }
    @include breakpoint-up(medium){
        
        padding-top: 6.25rem;
        h2{
            padding-bottom: 3.125rem;
        }
    }
    &-grid{
        display: grid;
            grid-template-columns: repeat(auto-fit, 255px);
            column-gap: 1.875rem;
            row-gap: 1.25rem;
            @media(max-width: 1286px){
                grid-template-columns: repeat(2, 255px);
            }
            @media(max-width: 620px){
                text-align: left;
                grid-template-columns: auto;
                justify-content: center;
                
            }
            &-box{
                border-radius: 10px;
                padding: 1.25rem;
                padding-top: 0;
                align-items: start;
                background-color: $White;
                width: 255px;
                p{
                    font-size: 0.9375rem;
                }
                p.autor{
                    font-size: 0.75rem;
                }
                h4{
                    font-size: 18px;
                }
                img{
                    border-radius: 10px 10px 0 0;
                    margin: 0 -1.25rem;
                    height: 200px;
                    width: 255px;
                }
            }
        
    }
}