.features{
    
    background-color: $LightGrayishBlue;

    @include breakpoint-down(small){
        h2{
            padding-top: 3.75rem;
        }
    }
    
    .container{
        padding-bottom: 60px;
        @include breakpoint-up(medium){
            padding-top: 6.9375rem - 1.5rem;
            text-align: left;
            padding-right: 0;
        }
        @media(min-width:500px) and (max-width: 615px){
            text-align: center;
            padding-right: 3.75rem;
        }
    }

    p{
        @include breakpoint-up(large){
            max-width: 38.4375rem;
    
        }
    }

    &-grid{
        &-box{
            padding-top: 1.875rem;
        }
        @include breakpoint-up(medium){
            display: grid;
            grid-template-columns: repeat(auto-fit, 250px);
            column-gap: 1.875rem;
            @media(max-width: 1270px){
                grid-template-columns: repeat(2, 250px);
            }
            @media(max-width: 615px){
                grid-template-columns: auto;
                justify-content: center;
            }
            &-box{
                
                width: 15.625rem;
                p{
                    font-size: 1rem;
                    text-align: left;
                }
                
            }
        }
        
    }

}