.features{

    @include breakpoint-up(medium){
        background-color: $LightGrayishBlue;
        
    }

    .container{
        @include breakpoint-up(medium){
            padding-top: 111px - 24px;
            text-align: left;
            padding-right: 0;
        }
        @media(max-width: 615px){
            text-align: center;
            padding-right: 60px;
        }
    }

    p{
        @include breakpoint-up(large){
            max-width: 615px;
    
        }
    }

    &-grid{
        @include breakpoint-up(medium){
            display: grid;
            grid-template-columns: repeat(4, 250px);
            column-gap: 30px;
            @media(max-width: 1270px){
                grid-template-columns: repeat(2, 250px);
            }
            @media(max-width: 615px){
                grid-template-columns: auto;
                justify-content: center;
            }
            &-caja{
                padding-top: 30px;
                width: 250px;
                p{
                    font-size: 16px;
                    text-align: left;
                }
            }
        }
        
    }

}