.features{
    
    background-color: $LightGrayishBlue;

    
    .container{
        padding-bottom: 60px;
        padding-top: 6.9375rem - 1.5rem;
        @include breakpoint-up(large){
            
            text-align: left;
        }
        @media(max-width: 615px){
            text-align: center;
            grid-template-columns: auto;
            justify-content: center;
            
        }
    }

    p{
        @include breakpoint-up(large){
            max-width: 38.4375rem;
    
        }
    }

    &-grid{
        &-box{
            padding-top: 1.875rem;
        }
        display: grid;
            grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
            column-gap: 1.875rem;
            @media(max-width: 1347px){
                grid-template-columns:repeat(2, minmax(14.375rem, 1fr));
            }
            @media(max-width: 1024px){
                grid-template-columns:repeat(2, minmax(14.375rem, 1fr));
                justify-items: center;
            }
            @media(max-width: 615px){
                grid-template-columns: auto;
                justify-content: center;
            }
            &-box{
                
                width: 15.625rem;
                p{
                    font-size: 1rem;
                    text-align: left;
                }
                
            }
        
    }

}