.hero{
    border: 1px solid red;
        background-color: $VeryLightGray;
    .container{
        
        
        @include breakpoint-up(large){
            margin: 0 auto;
            margin-left: 0;
            max-width: 64rem;
            display: flex;
            align-items: center;
            padding-top:4.9375rem;
        }
    }
    
    &-image{
        position: relative;
        padding: 0;
        min-height: 16.25rem;
        background-image: url('../../images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(large){
            flex: 2;
            order: 2;
            height: 41rem;
            background-image: none;
          }

        &::before{
            // visibility: hidden;
            // position: absolute;
            // left: 50%;
            // transform: translate(-50%);

            // content: "";
            // height: 100%;
            // width: 100%; 
            // background-image: url("../../images/image-mockups.png");
            // background-repeat: no-repeat;
            // background-position: center bottom;
            // background-size: 94%;
            @include breakpoint-up(large){
                content: "";
                position: absolute;
                height: 100%;
                background-image: url('../../images/bg-intro-desktop.svg'); 
                background-repeat: no-repeat;
                background-position: 0% 81%;
                width: 435%;
                background-size: 99%;
                left: 27px;
              }
        }
    }
    &-text{
        
        text-align:center;
        display: block;

        h2{
            margin: 0;
            color: $DarkBlue;
            font-weight: 400;
            font-size: 2.1875rem;
            
        }
        p{
            padding-top: 1.5625rem;
            margin: 0;
            font-size: 0.8125rem;
        }

        @include breakpoint-up(large){
            flex: 1;
            order: 1;
            text-align: left;
            min-width: 26.875rem;
            

            h2{
                font-size: 3.25rem;
            }

            p{
                font-size: 1.0625rem;
            }
        }

        
        .button{
            padding-top: 2.3125rem + 0.875rem;
            padding-bottom: 5rem + 0.875rem;
            .cta{
                border-top: 6.25rem;
                cursor: pointer;
                font-weight: 400;
                font-size: 0.875rem;
                color: $White;
                padding: 0.875rem 2.1875rem;
                border-radius: 3.125rem;
                background: linear-gradient(to right, $LimeGreen, $BrightCyan);
                transition: opacity 300ms ease-in-out;
                &:hover{
                    opacity: 75%;
                }
            }
        }
        
        
        
    }
    


}