.hero{
    padding-top: 3.625rem;
    background-color: $VeryLightGray;

    @include breakpoint-up(medium){
        padding-top: 0;
    }
    .container{
        @include breakpoint-up(large){
            margin: 0 auto;
            margin-left: 0;
            max-width: 64rem;
            display: flex;
            align-items: center;
            padding-top:4.9375rem;
        }
    }
    
    &-image{
        position: relative;
        padding: 0;
        margin-left:-23px;
        margin-right:-23px;
        min-height: 16.25rem;
        background-image: url("../../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include breakpoint-up(medium){
            margin-left:-60px;
            margin-right:-60px;
        }
        &::before{
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            content: "";
            height: 101%;
            width: 100%; 
            background-image: url("../../images/image-mockups.png");
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 94%;
        }
        
        @include breakpoint-up(medium){
            min-height: 39.25rem;
        }
        @include breakpoint-up(large){
            flex: 2;
            order: 2;
            background-image: none;
            min-height: 41.25rem;
            min-width: 46.875rem;

            &::before{
                content: "";
                position: absolute;
                background-image: url('../../images/bg-intro-desktop.svg'); 
                background-repeat: no-repeat;
                background-position: 100% 78%;
                background-size: 106%;
                left: 8.5625rem;
                width: 150%;
                height: 100%;
                animation: hero-image-animation 1.5s ease-in-out forwards;
            }
            &::after{
                content: "";
                position: absolute;
                background-image: url('../../images/image-mockups.png'); 
                background-repeat: no-repeat;
                background-position: 115% 241%;
                background-size: 87%;
                left: 8.4375rem;
                width: 116%;
                height: 133%;
                animation: hero-image-animation 1.5s ease-in-out forwards;
            }

        }

        

    }
    &-text{
        
        
        display: block;

        h2{
            padding-top: 35px;
            margin: 0;
            
            
        }
        p{
            padding-top: 1.5625rem;
            margin: 0;
            
        }

        @include breakpoint-up(large){
            flex: 1;
            order: 1;
            text-align: left;
            min-width: 26.875rem;
            min-height: 660px;
            animation: hero-text-animation 1.5s ease-in-out forwards;


            h2{
                
                padding-top: 155px;
                font-size: 3.25rem;
            }

            p{
                font-size: 1.0625rem;
            }
        }

        
        .button{
            padding-top: 2.3125rem + 0.875rem;
            padding-bottom: 5rem + 0.875rem;
            
        }
        
        
        
    }
    


}