.hero{
    position: relative;
    top: 30px;
    &-image{
        position: relative;
        padding: 0;
        min-height: 16.25rem;
        background-image: url("../../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &::before{
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            content: "";
            height: 100%;
            width: 100%; 
            background-image: url("../../images/image-mockups.png");
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 87%;
        }
    }
    &-text{
        
        padding: 30px;
        text-align:center;
        display: block;
        h2{
            margin: 0;
            color: $DarkBlue;
            font-weight: 400;
            font-size: 35px;
            
        }
        p{
            padding-top: 25px;
            margin: 0;
            font-size: 13px;
        }
        .container{
            padding:30px 0 50px 0;
            .button {
                padding: 10px 0 10px 0;
                .cta{
                    margin: 35px;
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 0.875rem;
                    color: $White;
                    padding: 0.875rem 2.1875rem;
                    border-radius: 3.125rem;
                    background: linear-gradient(to right, $LimeGreen, $BrightCyan);
                    transition: opacity 300ms ease-in-out;
                    &:hover{
                        opacity: 75%;
                    }
                }
            }
        }
        
        
    }
    


}