.product{
    &-image{
        position: relative;
        padding: 0;
        min-height: 16.25rem;
        background-image: url("../../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &::before{
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            content: "";
            height: 100%;
            width: 100%; 
            background-image: url("../../images/image-mockups.png");
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 92%;
        }
    }


}